@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Montserrat&display=swap');



*{ 
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
a{
    text-decoration: none;
  
    font-size: 1.5rem;
    font-weight: 400;
}
nav a{
    color: hsl(236, 13%, 42%);
}
nav a:hover{
    color:   hsl(5, 85%, 63%);
}
.menu{
    background: none;
    border: none;
    font-size: 30px;
    display: none;
}
