@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
}

.content-app{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
}


.container {
    margin-top: 20px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.container .item-0 img{
    width: 64%;
}


.content{
    width: 400px;
}

.headerflex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.itemheader-0 img{
    margin-top: 25px;
}
.headerflex ul li{
    list-style: none;
    padding: 10px;
    display: inline-block;
}

.headerflex a{
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.itemheader-0 {
	align-self: flex-start;
}

.itemheader-1 {
	align-self: flex-end;
}

.headerflex p{
    margin: 0;
    font-size: 100%;
    display: inline-block;
    text-align: center;
}

.headerflex p:nth-child(1){
    font-weight: bold;
}

.headerflex p:nth-child(2){
    width: 50%;
}

.headerflex p{
    left: 50%;
}
.item-0 {   


    padding: auto;
    width: 80%;
}

.item-1{
    margin-top: 20px;
    background-color: #000;
    padding: auto;
    width: 40%;
}